<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179624377219-rd2cqpffo37j8eu9v7gmkenph49gu6cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179624377219-rd2cqpffo37j8eu9v7gmkenph49gu6cl</string>
	<key>API_KEY</key>
	<string>AIzaSyAExxdhdzNxgdCvaB-6kOD_h_GuisgyJeI</string>
	<key>GCM_SENDER_ID</key>
	<string>179624377219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hk.edu.hkbu.comp.wongkashing.ScoringSystemAdmin</string>
	<key>PROJECT_ID</key>
	<string>hkbu-mobile-12057</string>
	<key>STORAGE_BUCKET</key>
	<string>hkbu-mobile-12057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179624377219:ios:cb48653f97434af05cd4b6</string>
</dict>
</plist>